.navbar {
	position: fixed;
	left: 0;top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99;
	&-wrap {
		display: flex;
		align-items: center;
		justify-content: space-around;
		min-height: 80px;
	}
	&__mobile, &__landline {
		text-align: right;
	}
	&__phone {
		display: block;
		font-size: 19px;
		@include bold;
		color: #1c1c1c;
		margin-bottom: 5px;
	}
	&__small-text {
		display: block;
		font-size: 14px;
		color: $text-color-light;
	}
}
.menu {
	position: fixed;
	z-index: 0;
	top: 80px;
	padding: 16px 0;
	width: 100%;
	background-color: $color-primary;
	transition: 0.2s;
	transform: translateY(0%);
	&--active {
		transform: translateY(0);
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__link {
		font-size: 17px;
		text-transform: uppercase;
		color: #fff;
	}
	&-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: none;
		border-right: 1px solid rgba(#510bba, 0.1);
		border-left: 1px solid rgba(#510bba, 0.1);
		height: 80px;
		width: 70px;
		&__line {
			display: block;
			width: 20px;
			height: 3px;
			margin: 2px 0;
			background-color: #89a9eb;
		}
	}
}
.logo {
	&__text {
		display: block;
		margin-bottom: 5px;
		font-size: 18px;
		text-transform: uppercase;
		@include bold;
	}
	&__description {
		font-size: 14px;
		display: block;
		color:$text-color-light;
	}
}